@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Regular/Lato-Regular.eot");
  src: url("../fonts/Lato/Regular/Lato-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lato/Regular/Lato-Regular.woff") format("woff"),
    url("../fonts/Lato/Regular/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Italic/LatoItalic.eot");
  src: url("../fonts/Lato/Italic/LatoItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lato/Italic/LatoItalic.woff") format("woff"),
    url("../fonts/Lato/Italic/LatoItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Bold/LatoBold.eot");
  src: url("../fonts/Lato/Bold/LatoBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lato/Bold/LatoBold.woff") format("woff"),
    url("../fonts/Lato/Bold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

body{
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  background-color: #FDF3E7;
}

.tabs {
  width: 60%;
  min-height: 20em;
  margin: 0 auto;
  border: 2px double #3B3738;
  margin-top: 2em;
  background-color: #fff;
}

.tabs__item {
  display: inline-block;
  transition: all 0.5s ease; 
}

.tabs a.current{
/*   border-color: #ccc; */
  border-top: 2px solid #f00;
  background: #fff;
}

.tabs__item:hover {
  transition: all 0.5s ease;
  color: #585858;
  font-weight: 700;
}

.tabs-content {
  padding: .5em;
}

.tabs-content > div {
  display: none;
}

.tabs-content > div:first-child{
  display: block;

}

a {
  display: block;
  color: #191919;
  text-decoration: none;
  padding: 10px 20px;
  border-top: none;
}

ul {
  padding: .5em;
  background-color: #f6f6f6;
  padding-bottom: 0;
}