@import "variables";

body {
  font-family: 'Ubuntu Mono', monospace;
}

.fa {
  color: #ccc;
}

.fa:hover {
  color: #248cec;
}

.socials {
  display: flex;
  justify-content: flex-end;

  &__item {
    margin-left: 20px;
  }
}

.search {
  margin-right: 10px; 
  position: relative;
  &__input {
    width: 240px;
    background-color: #35383c;
    border: 1px solid #181a1d;
    color: #626466;
    padding: 10px;
    outline: none;
  }

  &__button {
    background: url(../images/search-icon.png) no-repeat;
    background-size: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 5px;
    width: 20px;
    border: none;
    outline: none;
    background-position: center;
    line-height: 37px;
  }
}

.features {
  margin-bottom: 80px;
}

.comments-counter {
  color: #0187f4;    
}



