.sprite {
    background-image: url('../images/sprites.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite-2crave {
    width: 155px;
    height: 46px;
    background-position: -5px -5px;
}

.sprite-atx {
    width: 102px;
    height: 41px;
    background-position: -5px -61px;
}

.sprite-car {
    width: 33px;
    height: 32px;
    background-position: -170px -5px;
}

.sprite-cruiser {
    width: 120px;
    height: 46px;
    background-position: -5px -112px;
}

.sprite-gear {
    width: 87px;
    height: 62px;
    background-position: -135px -61px;
}

.sprite-logo {
    width: 206px;
    height: 39px;
    background-position: -5px -168px;
}

.sprite-moto-metal {
    width: 108px;
    height: 43px;
    background-position: -213px -5px;
}

.sprite-rbp {
    width: 99px;
    height: 48px;
    background-position: -232px -58px;
}

.sprite-regulators {
    width: 34px;
    height: 32px;
    background-position: -232px -116px;
}

.sprite-settings {
    width: 37px;
    height: 32px;
    background-position: -276px -116px;
}
